
{% if seoMetas is defined %}
    {% for meta in seoMetas %}
        {% if (meta.name == "title" ) %}
            <title>{% block title %}{{ meta.content }}{% endblock %}</title>
        {% else %}
            <meta name="{{ meta.name }}" content="{{ meta.content }}"/>
        {% endif %}
    {% endfor %}
{% endif %}
