parameters:
    novactive.novaseobundle.legacy.configuration.class: Novactive\Bundle\eZSEOBundle\Core\LegacyConfiguration
    novactive.novaseobundle.meta_name_schema.class: Novactive\Bundle\eZSEOBundle\Core\MetaNameSchema
    novactive.novaseobundle.twig_extension.class: Novactive\Bundle\eZSEOBundle\Twig\NovaeZSEOExtension
    ezpublish.repository.nameable_field_type_registry.class: eZ\Publish\Core\Repository\Helper\NameableFieldTypeRegistry
services:
    novactive.novaseobundle.legacy.configuration:
        class: %novactive.novaseobundle.legacy.configuration.class%
        arguments:
            - @ezpublish.config.resolver.core
        tags:
            - { name: kernel.event_subscriber }

    novactive.novaseobundle.twig_extension:
        class: %novactive.novaseobundle.twig_extension.class%
        arguments: [@ezpublish.api.repository, @novactive.novaseobundle.meta_name_schema,@ezpublish.config.resolver, @ezpublish.locale.converter]
        public: false
        tags:
            - { name: twig.extension }

    ezpublish.repository.nameable_field_type_registry:
        class: %ezpublish.repository.nameable_field_type_registry.class%

    novactive.novaseobundle.meta_name_schema:
        class: %novactive.novaseobundle.meta_name_schema.class%
        arguments: [@ezpublish.api.repository, @ezpublish.repository.nameable_field_type_registry]
        calls:
            - [setLanguages, ["$languages$"]]
            - [setHtml5Converter, ["@ezpublish.fieldtype.ezxmltext.converter.html5"]]
            - [setImageVariationService, ["@ezpublish.fieldtype.ezimage.variation_service", @ezpublish.fieldtype.ezimage]]

