parameters:
    novactive.novaseobundle.legacy.configuration.class: Novactive\Bundle\eZSEOBundle\Core\LegacyConfiguration
    novactive.novaseobundle.meta_name_schema.class: Novactive\Bundle\eZSEOBundle\Core\MetaNameSchema
    novactive.novaseobundle.twig_extension.class: Novactive\Bundle\eZSEOBundle\Twig\NovaeZSEOExtension
services:
    novactive.novaseobundle.legacy.configuration:
        class: %novactive.novaseobundle.legacy.configuration.class%
        arguments:
            - @ezpublish.config.resolver.core
        tags:
            - { name: kernel.event_subscriber }

    novactive.novaseobundle.twig_extension:
        class: %novactive.novaseobundle.twig_extension.class%
        arguments: [@ezpublish.api.repository, @novactive.novaseobundle.meta_name_schema,@ezpublish.config.resolver, @ezpublish.locale.converter]
        public: false
        tags:
            - { name: twig.extension }

    novactive.novaseobundle.meta_name_schema:
        class: %novactive.novaseobundle.meta_name_schema.class%
        arguments: [@ezpublish.spi.persistence.content_type_handler, @ezpublish.field_type_collection.factory, @ezpublish.api.repository,@ezpublish.translation_helper,  []]
        calls:
            - [setLanguages, ["$languages$"]]
            - [setHtml5Converter, ["@ezpublish.fieldtype.ezxmltext.converter.html5"]]
            - [setImageVariationService, ["@ezpublish.fieldtype.ezimage.variation_service", @ezpublish.fieldtype.ezimage]]

