.novaseometas-input-ui > div {
    padding-bottom: 10px;
}

.novaseometas-input-ui .ez-view-metaeditview:before,
.novaseometas-input-ui .ez-view-metaeditview:after {
    content: " ";
    display: table;
}

.novaseometas-input-ui .ez-view-metaeditview:after {
    clear: both;
}

.novaseometas-input-ui label {
    float: left;
    width: 12%;
    padding-top:7px;
}

.novaseometas-input-ui input {
    width: 75%;
}