{% extends '@IbexaCore/fielddefinition_settings.html.twig' %}

{% block novaseometas_settings %}
    <ul class="ibexa-fielddefinition-settings ibexa-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
        {% for metaIdentifier, metaValue in settings.configuration %}
            <li class="ibexa-fielddefinition-setting meta-value">
                <div class="ibexa-fielddefinition-setting-name">{{ metaIdentifier|capitalize }}</div>
                <div class="ibexa-fielddefinition-setting-value">{{ metaValue ?: (nova_ezseo.fieldtype_metas[metaIdentifier] is defined ? nova_ezseo.fieldtype_metas[metaIdentifier].default_pattern) }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
