{% if pager.haveToPaginate %}
    <div class="row justify-content-center align-items-center mb-2">
                <span class="ez-pagination__text">
                    {{ 'section.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
    </div>
    <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
        {{ pagerfanta(pager, 'ibexa') }}
    </div>
{% endif %}
