services:

    # FIELD TYPE
    Novactive\Bundle\eZSEOBundle\Core\FieldType\Metas\Type:
        parent: Ibexa\Core\FieldType\FieldType
        tags:
            - { name: ibexa.field_type, alias: novaseometas }

    Novactive\Bundle\eZSEOBundle\Core\SeoMetas:
        arguments:
            - "@ibexa.config.resolver"
        tags:
            - { name: ibexa.admin_ui.config.provider, key: 'seoMetas' }

    ibexa.adminui.novaseobundle.css:
        parent: Ibexa\AdminUi\Component\LinkComponent
        arguments:
            $href: "/bundles/novaezseo/css/views/fields/edit/novaseometas.css"
        tags:
            - { name: ibexa.admin_ui.component, group: 'stylesheet-head' }

    ibexa.adminui.novaseobundle.css_font:
        parent: Ibexa\AdminUi\Component\LinkComponent
        arguments:
            $href: "/bundles/novaezseo/font/font-awesome.min.css"
        tags:
            - { name: ibexa.admin_ui.component, group: 'stylesheet-head' }

    ibexa.adminui.novaseobundle.css_page:
        parent: Ibexa\AdminUi\Component\LinkComponent
        arguments:
            $href: "/bundles/novaezseo/css/style.css"
        tags:
            - { name: ibexa.admin_ui.component, group: 'stylesheet-head' }

    ibexa.adminui.novaseobundle.js:
        parent: Ibexa\AdminUi\Component\ScriptComponent
        autowire: true
        autoconfigure: false
        public: false
        arguments:
            $src: "/bundles/novaezseo/js/script.js"
        tags:
            - { name: ibexa.admin_ui.component, group: 'script-body' }
