.ez-metas-list {
    list-style: none;
}

.ez-metas-list li {
    padding-bottom: 10px;
}

.ez-metas-list,
.novaseometas-input-ui {
    border-left: 3px solid #F4D8B1;
    padding-left: 20px;
}

.novaseometas-input-ui > div {
    padding-bottom: 10px;
}

.novaseometas-input-ui .ez-view-metaeditview:before,
.novaseometas-input-ui .ez-view-metaeditview:after {
    content: " ";
    display: table;
}

.novaseometas-input-ui .ez-view-metaeditview:after {
    clear: both;
}

.novaseometas-input-ui label {
    float: left;
    width: 12%;
    padding-top: 7px;
    font-weight: bold;
}

.novaseometas-input-ui input {
    width: 75%;
}

.novaseometas-settings {
    border-left: 3px solid #F4D8B1;
    padding-left: 4px;
}

.novaseometas-settings .pure-control-group input {
    border: 1px solid #F4D8B1;
}

.novaseometas-settings .pure-control-group label {
    display: block;
    width: 25%;
    float: left;
}

.novaseometas-settings .pure-control-group input {
    display: block;
    width: 70%;
    float: left;
}

.nova-signature:before,
.nova-signature:after {
    content: " ";
    display: table;
}

.nova-signature:after {
    clear: both;
}

.nova-signature .handcrafted {
    text-align: right;
}

.nova-signature .handcrafted img,
.nova-signature .handcrafted span {
    display: block;
    float: right;
}

.nova-signature .handcrafted span {
    text-align: right;
    padding-top: 18px;
    padding-right: 10px;
}

.nova-signature .handcrafted .fa {
    color: #F19A22;
    font-weight: bold;
}

/* EzPlatform Admin UI */

.ez-adminsection-edit .novaseometas-settings {
    padding-left: 21px;
    margin-top: 10px;
    margin-left: -23px;
}

.novaseobundle-preview-field {
    border-left: 3px solid #F4D8B1;
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

.ez-field-edit--novaseometas {
    display: flow-root;
}

.ez-field-edit--novaseometas .ez-data-source__input-wrapper .ez-data-source__label-wrapper {
    display: block;
    border-left: 3px solid #F4D8B1;
    padding-left: 10px;
    width: 25%;
    float: left;
}

.ez-field-edit--novaseometas .ez-data-source__input-wrapper .ez-data-source__input-wrapper {
    display: block;
    width: 70%;
    float: left;
    clear: right;
}
