.novaseao-metas {
    border-left: 3px solid #F4D8B1;
}


.novaseao-metas .fa-facebook-official {
    color:#3C5A98;
}
.novaseao-metas .fa-twitter-square {
    color:#5EA9DD;
}

.novaseao-metas .handcrafted {
    text-align: right;
}

.novaseao-metas .handcrafted img, .novaseao-metas p.handcrafted span {
    display: block;
    float:right;
}
.novaseao-metas p.handcrafted span {
    text-align: right;
    padding-top: 18px;
    padding-right: 10px;
}

.novaseao-metas p.handcrafted .fa {
    color: #F19A22;
    font-weight: bold;
}

.novaseao-metas ul {
    margin-bottom: 0;
    margin-left: 15px;
}
.novaseao-metas ul li {
    list-style: none;
}

.novaseao-metas ul li label {
    float: left;
    width: 12%;
    padding-top:7px;
}

.novaseao-metas ul li {
    margin-bottom: 15px;
}

.novaseao-metas ul li input {
    width: 85%;
    border: 1px solid #F4D8B1;
    padding: 5px;
}

.novaseao-metas ul li .default_values {
    margin: 0;
}

.novaseao-metas ul li .default_values li {
    margin-bottom: 5px;
}

.novaseao-metas ul li .default_values label {
    margin-left: 13%;
    padding: 0;
    width: 100px;
    font-weight: normal;
    font-size: 1em;
}

.novaseao-metas-content-view, .novaseao-metas-class-view ul li {
    margin: 0;
    clear: both;
}
.novaseao-metas-content-view ul li label, .novaseao-metas-class-view ul li label {
    width: 20%;
    padding-top: 0;
    font-weight:normal;
}