{% extends 'EzSystemsRepositoryFormsBundle:ContentType:field_types.html.twig' %}

{% block novaseometas_field_definition_edit %}
    NovaeZSEOBundle:fields:field_types.html.twig
    <div class="novaseometas-settings configuration">
        {{- form_label(form.configuration) -}}
        {{- form_errors(form.configuration) -}}
        {{- form_widget(form.configuration) -}}
    </div>
{% endblock %}