{% extends 'EzSystemsRepositoryFormsBundle:ContentType:field_types.html.twig' %}

{% block novaseometas_field_definition_edit %}
    <div class="novaseometas-settings configuration">
        {% for child in form.configuration %}
            <div class="pure-control-group">
                {{- form_label(child) -}}
                {{- form_errors(child) -}}
                {{- form_widget(child) -}}
            </div>
        {% endfor %}
    </div>
{% endblock %}